

<section class="calculating-goal">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6"><a class="back" href="@Url.Action("Index","Profile")">Volver</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="pb-4"><strong>¡Ups tenemos problemas técnicos que estamos resolviendo! Pronto volveremos.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="loading-goal">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/icons/500.svg")">
                    <h3 class="pt-4">Vuelve a intentarlo nuevamente.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
