

<section class="calculating-goal">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6"><a class="back" href="@Url.Action("Index","Profile")">Volver</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="pb-4"><strong>¡Lo sentimos la página no ha sido encontrada!</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="loading-goal">
                    <img class="img-fluid" src="@Url.Content("~/Conetent/img/icons/404.svg")">
                    <h3 class="pt-4">Revisa que estés digitando correctamente la información.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-6"><a class="back" href="#">Volver</a></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="pb-4"><strong>¡Lo sentimos la página no ha sido encontrada!</strong></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="loading-goal">
                <img class="img-fluid" src="img/icons/404.svg">
                <h3 class="pt-4">Revisa que estés digitando correctamente la información.</h3>
            </div>
        </div>
    </div>
</div>