

<script>
    $('#Error_redeem').modal('show');

</script>
<div class="modal fade " id="Error_redeem" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="border-image"><img src="" alt=""></div>
                <h2 class="title pb-4" id="tittle">¡Lo sentimos!</h2>
                <p class="mb-0" id="mensaje">No puedes redimir cupones. No has alcanzado la meta.</p>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-6"><a class="button button-yellow" href="@Url.Action("Index","Catalog")">Continuar participando</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>