
    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-md-5">
                <div class="card py-3 px-4">
                    <div id="accordion">
                        <div class="headerAcordion" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p class="m-0">¿Qué es Pásala Ganando?</p>
                        </div>
                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">Es un programa creado por Bancolombia y Mastercard, que busca educar e incentivar a los clientes en el uso de sus Tarjetas Maestro o Mastercard Bancolombia sean débito o crédito, y premiarlos por ello.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p class="m-0">¿Es un programa permanente o cada cuanto se realiza?</p>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">El programa no es permanente, se realiza de dos (2) a tres (3) veces en el año y va en su versión número dieciocho (18).</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <p class="m-0">¿Quiénes pueden participar en el programa Pásala Ganando?</p>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">Pueden participar únicamente los clientes que sean personas naturales, mayores de edad, domiciliados en Colombia, titulares de las Tarjetas Maestro o Mastercard Bancolombia, débito o crédito, que hayan recibido una comunicación por medio de correo electrónico o SMS. Si la persona no recibe esta comunicación se entiende que no es un participante.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <p class="m-0">¿Es necesario inscribirse?</p>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">El participante no necesita inscribirse para participar; sin embargo, el participante debe ingresar a la plataforma <a href="https://www.pasalaganando.com/">www.pasalaganando.com </a>para escoger y redimir premios, conocer su meta personal de facturación y conocer su avance.<br><br>Para ingresar el usuario solo debe digitar su documento de identidad y los cuatro (4) últimos dígitos de cualquiera de sus Tarjetas Maestro o Mastercard Bancolombia, sean débito o crédito.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <p class="m-0">¿Con qué productos se puede participar?</p>
                        </div>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">Se puede participar con las Tarjetas Débito o Crédito Maestro o Crédito Mastercard Bancolombia.<br><br>Si tiene más de una Tarjeta Maestro o Mastercard Bancolombia, sea débito o crédito, las transacciones que realice con todas estas se contabilizarán para alcanzar la meta personal de facturación.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingSixs" data-toggle="collapse" data-target="#collapseSixs" aria-expanded="true" aria-controls="collapseSixs">
                            <p class="m-0">¿Si tengo más de una Tarjeta Débito o Crédito Maestro o Mastercard Bancolombia, con cuál debo ingresar?</p>
                        </div>
                        <div class="collapse" id="collapseSixs" aria-labelledby="headingSixs" data-parent="#accordion">
                            <div class="card-body">El participante puede ingresar a la plataforma con cualquiera de sus Tarjetas Débito Maestro o Mastercard Bancolombia sean débito o crédito, inclusive con una diferente con la que hizo su primer ingreso.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <p class="m-0">¿Cuál es la mecánica del programa Pásala Ganando?</p>
                        </div>
                        <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body">La mecánica de la campaña consiste en alcanzar una meta personal a la que se llega activando un determinado grupo de comercios, usando Tarjetas Maestro o Crédito Mastercard Bancolombia sean débito o crédito, durante la vigencia de la campaña. Para activar cada grupo de comercio, el participante debe realizar una facturación específica para cada grupo de comercio. Esta información la podrá conocer en <a href="https://www.pasalaganando.com/">www.pasalaganando.com </a>, una vez ingresado el número de la tarjeta.<br><br>Cuando el participante alcance su meta personal podrá ingresar a la sección “Catálogo de bonos” y tendrá la posibilidad de elegir entre estas 2 opciones:<br><br><strong style="text-decoration:underline">- Redimir bono digital:</strong><br>Elegir una de las diferentes opciones de bonos digitales que allí se presentan.<br><br><strong style="text-decoration:underline">- Acumular Cupón:</strong><br>Hacer la redención de 100 cupones para participar por uno de los premios especiales que se entregan al final de la campaña a los participantes que mayor cantidad de cupones hayan acumulado durante la vigencia de esta. Estos cupones son los que cuentan para participar por un premio especial.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <p class="m-0">¿Qué es la meta personal de facturación?</p>
                        </div>
                        <div class="collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body">
                                Es una meta fijada a cada participante. La meta personal de facturación es establecida por Bancolombia de acuerdo con el comportamiento transaccional de cada participante previo al inicio de la campaña. Cada participante podrá conocer su meta personal de facturación ingresando a <a href="https://www.pasalaganando.com/">www.pasalaganando.com </a>en la sección llamada “TU META”.<br><br>La meta personal está compuesta por:
                                <ul>
                                    <li>Cantidad de grupos de comercios que se deben activar.</li>
                                </ul>Nota: para activar cada grupo de comercio se debe realizar una facturación determinada para cada uno de ellos.<br><br><strong>Ejemplo:</strong><br><br>
                                <div class="text-center"><img class="img-fluid w-50" src="img/assets/FyQ-imagen-1.png" alt="FAQ-1"></div>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <p class="m-0">¿Cómo se fija la meta personal de facturación?</p>
                        </div>
                        <div class="collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="card-body">Se determina según el perfil del participante, es decir, de conformidad con su transaccionalidad antes de iniciar la campaña.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            <p class="m-0">¿Qué es grupo de comercio?</p>
                        </div>
                        <div class="collapse" id="collapseTen" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                                Es una clasificación de los diferentes establecimientos comerciales participantes, en grupos con características similares de acuerdo con su actividad económica. Para la campaña se determinaron seis (6) grupos de comercios, así:<br><br>
                                <div class="container">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-12 table-responsive">
                                            <table class="table table-sm table-bordered">
                                                <thead class="text-center" style="background-color: #8B008B; color: #fff">
                                                    <tr>
                                                        <th>Grupo</th>
                                                        <th>Nombre</th>
                                                        <th colspan="2">Categorías</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mercadeo y tiendas por departamentos</td>
                                                        <td>Hogar </td>
                                                    </tr>
                                                    <tr class="sinBorde">
                                                        <td>2</td>
                                                        <td>Seguros y viajes</td>
                                                        <td>Seguros</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td> </td>
                                                        <td>Viajes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Restaurantes y entretenimiento</td>
                                                        <td>Alimentación</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Entretenimiento</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Salud, educación y vestuario</td>
                                                        <td>Moda</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Educación</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Salud y bienestar</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Tecnología, transporte y mascotas</td>
                                                        <td>Transporte</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Impuestos</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Tecnología</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Mascotas</td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>Compromisos bancarios</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Otros</td>
                                                        <td>Otros</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            <p class="m-0">¿Cuál es la vigencia del programa Pásala Ganando?</p>
                        </div>
                        <div class="collapse" id="collapseEleven" aria-labelledby="headingEleven" data-parent="#accordion">
                            <div class="card-body">La vigencia del programa es desde el 17 de agosto de 2021 hasta el 3 de octubre de 2021. Durante ese tiempo, el participante podrá realizar las transacciones para el cumplimiento de su meta, acumular cupones o redimir un bono.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                            <p class="m-0">¿Cuáles son las transacciones válidas que suman a la meta personal de facturación?</p>
                        </div>
                        <div class="collapse" id="collapseTwelve" aria-labelledby="headingTwelve" data-parent="#accordion">
                            <div class="card-body">Únicamente serán válidas las compras en los establecimientos de comercio realizadas a través de datáfonos, presenciales y no presenciales y a través de la Billetera Móvil, Garmin Pay y Fitbit Pay (las compras no presenciales serán válidas excepto por las transacciones que se realicen a través de PSE o Facturanet, las cuales no serán tenidas en cuenta).</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirteen" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                            <p class="m-0">¿Son válidas las compras internacionales?</p>
                        </div>
                        <div class="collapse" id="collapseThirteen" aria-labelledby="headingThirteen" data-parent="#accordion">
                            <div class="card-body">Sí, las transacciones internacionales participan en el programa. Para el cálculo del consumo mínimo de la categoría, se tendrá en cuenta la TRM del día en que se haga la compra.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingFourteen" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            <p class="m-0">¿Qué transacciones no aplican?</p>
                        </div>
                        <div class="collapse" id="collapseFourteen" aria-labelledby="headingFourteen" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>Transferencias, retiros, consignaciones y/o avances en efectivo.</li>
                                    <li>Pagos de impuestos.</li>
                                    <li>Transacciones que se realicen a través de PSE o Facturanet. </li>
                                    <li>Transacciones realizadas con E-prepago.</li>
                                    <li>Tarjetas de otras franquicias.</li>
                                    <li>Tarjetas empresariales.</li>
                                    <li>Tarjetas de Crédito Mastercard Black del segmento preferencial.</li>
                                    <li>Tarjetas emitidas por Bancolombia que se encuentren en mora, bloqueadas, inactivas o canceladas por cualquier causa. Si Bancolombia verifica esta situación en algún momento de la campaña, el participante será excluido de la campaña de acuerdo con los términos y condiciones.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingFifteen" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                            <p class="m-0">¿Cuántas transacciones se deben hacer para activar un grupo de comercio?</p>
                        </div>
                        <div class="collapse" id="collapseFifteen" aria-labelledby="headingFifteen" data-parent="#accordion">
                            <div class="card-body">La cantidad de transacciones no importa, lo que activa un grupo de comercio es el monto facturado en cada uno de ellos. Esas compras las puede hacer en una sola transacción o en varias. El monto mínimo por facturar en cada grupo de comercio está especificado en la página en la sección “TU META”.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingSixteen" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                            <p class="m-0">¿Qué es el catálogo de bonos?</p>
                        </div>
                        <div class="collapse" id="collapseSixteen" aria-labelledby="headingSixteen" data-parent="#accordion">
                            <div class="card-body">Son los premios que están disponibles en la plataforma y que podrán ser redimidos por los participantes una vez alcancen su meta personal de facturación. Estos premios pueden ser bonos digitales o cupones para participar por un premio especial al final de la campaña. En la plataforma se indican las cantidades disponibles de cada premio. En total son más de 4.000 unidades.<br><br>NOTA: cada participante ve opciones diferentes, no son las mismas opciones para todos, para saber cuáles son las opciones, el participante deberá ingresar a la página con su cédula y consultarlas en la opción del menú llamado “CATÁLOGO DE BONOS”. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingSeventeen" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                            <p class="m-0">¿Qué es un cupón?</p>
                        </div>
                        <div class="collapse" id="collapseSeventeen" aria-labelledby="headingSeventeen" data-parent="#accordion">
                            <div class="card-body">Es una opción que se encuentra dentro del catálogo de bonos y que consiste en una oportunidad para participar por un premio especial al final de la campaña. Se pueden redimir tantos cupones como número de veces se cumpla la meta. Los cupones son acumulables e ilimitados. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingEighteen" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                            <p class="m-0">¿Qué es un bono digital? </p>
                        </div>
                        <div class="collapse" id="collapseEighteen" aria-labelledby="headingEighteen" data-parent="#accordion">
                            <div class="card-body">Son bonos de diferentes marcas que están especificadas en la plataforma, y que están cargados con el valor allí especificado al momento de ser redimidos. En lugar de ser representados con un papel o una tarjeta física, consisten en un código que debe ser presentado en el comercio para hacerlo efectivo. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingNineteen" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                            <p class="m-0">¿Cuánto tiempo tengo para usar un bono digital?</p>
                        </div>
                        <div class="collapse" id="collapseNineteen" aria-labelledby="headingNineteen" data-parent="#accordion">
                            <div class="card-body">Todos los bonos digitales tienen una vigencia estipulada para ser usados desde el momento en que el bono es redimido en la plataforma hasta un (1) mes después.  </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                            <p class="m-0">¿Si el participante un día ingresa y ve un bono digital que le gusta, pero cuando cumple su meta vuelve a ingresar y el bono digital que había visto antes ya no está disponible, ¿qué debe hacer?</p>
                        </div>
                        <div class="collapse" id="collapseTwenty" aria-labelledby="headingTwenty" data-parent="#accordion">
                            <div class="card-body">Todos los bonos digitales tienen unidades limitadas, la redención está sujeta a la disponibilidad de inventario. La información de las cantidades disponibles aparece en la página en tiempo real, por lo tanto, los participantes pueden ir consultando esta información.<br>La visualización del bono digital no garantiza la disponibilidad del producto al momento de redimir. <br>La invitación que le extendemos a todos los participantes es a hacerle seguimiento al bono que le gustaría redimir y si en algún momento el bono deseado está agotado, a revisar constantemente ya que durante la campaña se van cargando más bonos digitales en diferentes momentos. <br>Los cupones son ilimitados por lo tanto el participante siempre tendrá la opción de redimirlos tantas veces como haya cumplido su meta personal de facturación.  </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-One" data-toggle="collapse" data-target="#collapseTwenty-One" aria-expanded="false" aria-controls="collapseTwenty-One">
                            <p class="m-0">¿Qué es un premio especial?</p>
                        </div>
                        <div class="collapse" id="collapseTwenty-One" aria-labelledby="headingTwenty-One" data-parent="#accordion">
                            <div class="card-body">Son los premios que son entregados a las personas que al final de la campaña hayan acumulado la mayor cantidad de cupones.<br>La persona puede seleccionar el premio especial por el que quiere participar y lo puede cambiar al menos una vez diariamente hasta 8 días antes de finalizar la campaña. <br>El premio lo gana quien mayor cantidad de cupones haya acumulado durante la vigencia de la campaña, entre todas las personas que seleccionaron ese mismo premio.<br>Si el premio tiene varias unidades, entonces la selección del ganador se hará por medio de un ranking de mayor a menor número de cupones y los premios los ganarán las personas que estén en las primeras posiciones hasta llegar al número de unidades disponible del premio.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Two" data-toggle="collapse" data-target="#collapseTwenty-Two" aria-expanded="false" aria-controls="collapseTwenty-Two">
                            <p class="m-0">¿Cuántos y cuáles son los premios especiales?</p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Two" aria-labelledby="headingTwenty-Two" data-parent="#accordion">
                            <div class="card-body">
                                Los premios especiales son 83 premios, que se describen a continuación:<br><br>
                                <div class="contanier">
                                    <div class="row justify-content-center">
                                        <div class="col-12 table-responsive">
                                            <table class="table table-sm table-bordered">
                                                <thead class="text-center" style="background-color: #D52130; color: #FFF;">
                                                    <tr>
                                                        <th style="width: 21%; vertical-align:middle;">Nombre del Producto</th>
                                                        <th style="width: 30%; vertical-align:middle;">Referencia</th>
                                                        <th style="width: 15%; vertical-align:middle;">Marca</th>
                                                        <th style="width: 18%; vertical-align:middle;">Color del Producto</th>
                                                        <th style="width: 15%; vertical-align:middle;">Cantidades disponibles</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                    <tr>
                                                        <td>iPhone 12 mini 64 gb</td>
                                                        <td>MGDX3LZ/A</td>
                                                        <td>Apple</td>
                                                        <td>gris espacial</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Celular Samsung Note 20</td>
                                                        <td>Note 20</td>
                                                        <td>Samsung</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apple watch SE</td>
                                                        <td>MYDP2BE/A</td>
                                                        <td>Apple</td>
                                                        <td>Negro </td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airpods PRO</td>
                                                        <td>MWP22AM/A</td>
                                                        <td>Apple</td>
                                                        <td>BLANCO</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Audifonos</td>
                                                        <td>761529-0010</td>
                                                        <td>Bose</td>
                                                        <td>negro</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Audifonos</td>
                                                        <td>744373-0010</td>
                                                        <td>Bose</td>
                                                        <td>negro</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante</td>
                                                        <td>739523-1110</td>
                                                        <td>Bose</td>
                                                        <td>negro</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante</td>
                                                        <td>JBLCHARGE4BLACK</td>
                                                        <td>JBL</td>
                                                        <td>negro</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Audífonos Bluetooth BOSE: Soundlink</td>
                                                        <td>SOUNDLINK AE WIRELESS II BLK BOSE SKU 2550769</td>
                                                        <td>Bose</td>
                                                        <td>Negro</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10.2-inch iPad Wi-Fi 32GB</td>
                                                        <td>MYL92LZ/A</td>
                                                        <td>Apple</td>
                                                        <td>gris espacial</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante Bluetooth Bose Soundlink Color II</td>
                                                        <td>Bose Soundlink Color II</td>
                                                        <td>Bose</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante Bluetooth JBL Flip 5</td>
                                                        <td>JBL Flip 5</td>
                                                        <td>JBL</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante Bluetooth JBL Pulse 4</td>
                                                        <td>PULSE 4</td>
                                                        <td>JBL</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Echo Dot(4ta Gen) - Bocina inteligente con Alexa - Azul</td>
                                                        <td>ALEXA</td>
                                                        <td>Amazon</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante Bluetooth BOSE Soundlink Micro</td>
                                                        <td>Bose Soundlink Micro</td>
                                                        <td>Bose</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parlante Bluetooth BOSE Smart Speaker 500</td>
                                                        <td>Bose Smart Speaker 500</td>
                                                        <td>Bose</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>T-FLEX-PRO</td>
                                                        <td>T-FLEX-PRO</td>
                                                        <td>Stärker</td>
                                                        <td>- NEGRO NARANJA<br>- NEGRO VERDE <br>- NEGRO AZUL</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>LITE</td>
                                                        <td>LITE 2020</td>
                                                        <td>Stärker</td>
                                                        <td>- NEGRO</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bono Regalo Éxito 2.000.000</td>
                                                        <td>Bono $ 2.000.000</td>
                                                        <td>ÉXITO</td>
                                                        <td>N/A</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bono Regalo Homecenter de 1.000.000</td>
                                                        <td>Bono $ 1.000.000</td>
                                                        <td>Homecenter</td>
                                                        <td>N/A</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bono Viaje Aviatur de $ 1.000.000</td>
                                                        <td>desde $ 50.000</td>
                                                        <td>Aviatur </td>
                                                        <td>N/A</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Equipaje de viaje 24" Metro</td>
                                                        <td>33890</td>
                                                        <td>MARIO HERNANDEZ</td>
                                                        <td>negro</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Equipaje 28" Colección MHBY</td>
                                                        <td>ZY.MT.1000</td>
                                                        <td>MARIO HERNANDEZ</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>COMBO INSTANT POT Air Fryer Vortex 5,7 LITROS + OLLA MULTIFUNCIONAL 5,7 LITROS</td>
                                                        <td>COMBO INSTANT POT Air Fryer Vortex 5,7 LITROS + OLLA MULTIFUNCIONAL 5,7 LITROS</td>
                                                        <td>Vortex - Instan Pot</td>
                                                        <td>NEGRO</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airfryer Essential 2,5 litros + Parrilla infraroja</td>
                                                        <td>Airfryer Essential 2,5 litros + Parrilla infraroja</td>
                                                        <td>Philips</td>
                                                        <td>NEGRO</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>freidora IMUSA</td>
                                                        <td>1510001516</td>
                                                        <td>IMUSA</td>
                                                        <td>Plateado</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>TV Lg 55" Pulgadas 138 Cm 55Un7310 Led 4k-Uhd Plano Smart TV</td>
                                                        <td>55UN7310</td>
                                                        <td>LG</td>
                                                        <td>Negro</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Xbox One Serie X</td>
                                                        <td>Xbox One Serie X</td>
                                                        <td>Microsoft</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bicicleta de Montaña Jeep Baltoro 29 pulgadas</td>
                                                        <td>BICICLETA MONTA BALTORO 29 NE/GR JEEP SKU 7591618</td>
                                                        <td>Jeep</td>
                                                        <td>NEGRO</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Consola Sony Playstation 5</td>
                                                        <td>Play 5</td>
                                                        <td>SONY</td>
                                                        <td>Blanco</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Combo habitación 1</td>
                                                        <td>1 Almohada monograma Distrihogar + 1 Edredón 300 hilos doble Distrihogar + 1 Cobija sencilla Flannel Distrohogar + 1 Protector de colchón Distrihogar + 1 Aspiradora DC12 Volt Crearegalos</td>
                                                        <td>Distrihogar + Crearegalos</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Combo Cocina</td>
                                                        <td>1 Batería de 5 piezas de Home Elements + 1 Olla a presión Secury 2 sistemas de VL Imusa + 1 Tostadora elite Universal </td>
                                                        <td>Home Elements + Imusa + Universal </td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Combo hogar</td>
                                                        <td>1 Olla a presión Secury control 3 sistemas de VL Imusa + 1 Sartén 8511 KW + 1 Sartén 7030 KW + Sartén 8508 KW + 1 1 Aspiradora DC12 Volt Crearegalos + 1 Batidora 5 velocidades Home Elements  </td>
                                                        <td>Imusa + Home Elements </td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Combo Comedor</td>
                                                        <td>1 juego de cubiertos alp. Incametal + 1 Set de 3 piezas Libbey KW + 1 Set de 6 vasos 1660 cortos KW + 1 Set de 6 vasos 2312 largos KW + 1 Aspiradora DC12 Volt Crearegalos </td>
                                                        <td>Incametal + libbey</td>
                                                        <td>Color Sujeto a Disponibilidad de Inventario</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Combo belleza</td>
                                                        <td>1 juego de toallas set X3 Distrihogar + 1 Recortadora 9307-300 Edpracol + 1 Plancha para cabello Impobe Alizz + 1 Estuche de gafas Stibol </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>6</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td> </td>
                                                        <td>Total</td>
                                                        <td> </td>
                                                        <td>83</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Three" data-toggle="collapse" data-target="#collapseTwenty-Three" aria-expanded="false" aria-controls="collapseTwenty-Three">
                            <p class="m-0">¿Cómo y cuándo se seleccionan los ganadores de los premios especiales? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Three" aria-labelledby="headingTwenty-Three" data-parent="#accordion">
                            <div class="card-body">Una vez finalizada la campaña, se listarán todos los participantes que hayan seleccionado cada premio y se hará un ranking del que más al que menos cupones haya acumulado durante la vigencia de la campaña. Los ganadores de los premios serán los que estén en las primeras posiciones hasta llegar al número de unidades disponible del premio.<br><br>Si hay más de una persona con la misma cantidad de cupones, la posición la ganará la persona con la mayor facturación. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Four" data-toggle="collapse" data-target="#collapseTwenty-Four" aria-expanded="false" aria-controls="collapseTwenty-Four">
                            <p class="m-0">¿Puedo elegir mi premio especial o cambiarlo? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Four" aria-labelledby="headingTwenty-Four" data-parent="#accordion">
                            <div class="card-body">Los participantes sí pueden seleccionar el premio por el que quieren participar, y podrán cambiar su decisión como máximo una vez por día hasta 8 días antes de finalizar la campaña. A partir de este momento no se podrá hacer ningún cambio.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Five" data-toggle="collapse" data-target="#collapseTwenty-Five" aria-expanded="false" aria-controls="collapseTwenty-Five">
                            <p class="m-0">¿Dónde puedo consultar los cupones que llevo acumulados? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Five" aria-labelledby="headingTwenty-Five" data-parent="#accordion">
                            <div class="card-body">El participante podrá consultar cuántos cupones lleva acumulados en la sección de “Premios especiales” o en “Redención y acumulación”. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Six" data-toggle="collapse" data-target="#collapseTwenty-Six" aria-expanded="false" aria-controls="collapseTwenty-Six">
                            <p class="m-0">¿Dónde puedo conocer si soy un ganador de un premio especial? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Six" aria-labelledby="headingTwenty-Six" data-parent="#accordion">
                            <div class="card-body">Los ganadores serán informados telefónicamente o por correo electrónico en un plazo máximo de treinta (30) días después de terminada la vigencia de la campaña. Además de esto, los ganadores se publicarán en la página una vez finalizada la campaña. El contacto se hará con base en los datos registrados en Bancolombia al momento de iniciar la campaña; es responsabilidad de cada cliente tener actualizada su información en el sistema. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Seven" data-toggle="collapse" data-target="#collapseTwenty-Seven" aria-expanded="false" aria-controls="collapseTwenty-Seven">
                            <p class="m-0">Si soy un ganador de un premio especial, ¿cuánto se demora el proceso de entrega del premio?</p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Seven" aria-labelledby="headingTwenty-Seven" data-parent="#accordion">
                            <div class="card-body">Los premios serán entregados a los ganadores en un plazo máximo de veinte (20) días hábiles después de haber sido contactados y notificados como ganadores. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Eight" data-toggle="collapse" data-target="#collapseTwenty-Eight" aria-expanded="false" aria-controls="collapseTwenty-Eight">
                            <p class="m-0">¿Cómo se acumula un cupón? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Eight" aria-labelledby="headingTwenty-Eight" data-parent="#accordion">
                            <div class="card-body acumula">
                                Hay dos formas de acumular cupones: <br><br>
                                <ul>
                                    <li>El participante deberá ingresar a la sección llamada “CATÁLOGO DE BONOS” y allí encontrará una opción llamada “CUPONES” y deberá hacer clic en el botón que dice “REDIMIR CUPONES”, una vez hecho esto, el sistema le confirmará que el cupón se acumuló exitosamente. </li>
                                    <li>Cuando el participante cumpla sus retos, el sistema automáticamente le acumulará los cupones. </li>
                                </ul>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingTwenty-Nine" data-toggle="collapse" data-target="#collapseTwenty-Nine" aria-expanded="false" aria-controls="collapseTwenty-Nine">
                            <p class="m-0">¿Puedo devolver la acción de acumulación del cupón? </p>
                        </div>
                        <div class="collapse" id="collapseTwenty-Nine" aria-labelledby="headingTwenty-Nine" data-parent="#accordion">
                            <div class="card-body">No, una vez el participante haga clic en “Redimir el cupón”, el sistema valida por medio de una pregunta si está seguro de hacerlo y si el participante confirma esto haciendo clic en la opción de “sí”, no es posible devolver el proceso. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty" data-toggle="collapse" data-target="#collapseThirty" aria-expanded="false" aria-controls="collapseThirty">
                            <p class="m-0">¿Cuántas veces se pueden redimir premios?</p>
                        </div>
                        <div class="collapse" id="collapseThirty" aria-labelledby="headingThirty" data-parent="#accordion">
                            <div class="card-body">El participante podrá redimir hasta un (1) bono digital siempre y cuando el participante cumpla su meta personal de facturación, y siempre y cuando haya unidades disponibles del bono que desee redimir. <br><br>Las cantidades disponibles de los bonos que aparecen en el catálogo estarán sujetas a la disponibilidad de inventario y hasta agotarse la existencia, el participante únicamente podrá redimir aquellos disponibles.<br><br>Los cupones no tienen límite y podrán acumularse tantas veces el usuario cumpla su meta de facturación.   </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-One" data-toggle="collapse" data-target="#collapseThirty-One" aria-expanded="false" aria-controls="collapseThirty-One">
                            <p class="m-0">¿Qué es un reto?</p>
                        </div>
                        <div class="collapse" id="collapseThirty-One" aria-labelledby="headingThirty-One" data-parent="#accordion">
                            <div class="card-body">Los retos son determinadas misiones que el participante puede decidir si realizar o no, y que, en caso de hacerlo, le otorgan una cantidad determinada cupones adicionales para participar por los premios especiales que son entregados al final de la campaña. Los retos no suman al cumplimiento de la meta personal de facturación. <br>Son diferentes retos y cada participante podrá consultar sus retos disponibles en la sección llamada “RETOS”. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Two" data-toggle="collapse" data-target="#collapseThirty-Two" aria-expanded="false" aria-controls="collapseThirty-Two">
                            <p class="m-0">¿Si el participante redime y ha superado el monto de facturación solicitado en cada grupo de comercio y el número de grupos de comercios mínimos requeridos, los excedentes son tenidos en cuenta para el cumplimiento de su siguiente meta? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Two" aria-labelledby="headingThirty-Two" data-parent="#accordion">
                            <div class="card-body">Una vez que el participante haya acumulado un cupón o redimido un bono, los grupos de comercios necesarios para cumplir su meta quedarán en cero (0). Sin embargo, en el caso de que el cliente hubiese activado más grupos de comercios de los requeridos, estos quedarán activos para que el participante tenga la opción de cumplir nuevamente su meta. <br><br>Adicionalmente, si el participante supera los montos de facturación requeridos en cada grupo de comercio, los saldos también serán tenidos en cuenta para activar nuevamente los grupos de comercios. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Three" data-toggle="collapse" data-target="#collapseThirty-Three" aria-expanded="false" aria-controls="collapseThirty-Three">
                            <p class="m-0">¿Dónde se puede consultar cuánto lleva acumulado el participante en los grupos de comercios? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Three" aria-labelledby="headingThirty-Three" data-parent="#accordion">
                            <div class="card-body">Para acceder a la información transaccional el participante deberá ingresar los últimos cuatro (4) dígitos de cualquiera de sus Tarjetas Maestro o Mastercard Bancolombia, sean débito o crédito. Ingresando a la página: <a href="https://www.pasalaganando.com/">https://www.pasalaganando.com/</a>, en la opción del menú llamada “TU META”.</div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Four" data-toggle="collapse" data-target="#collapseThirty-Four" aria-expanded="false" aria-controls="collapseThirty-Four">
                            <p class="m-0">¿Dónde se puede consultar las redenciones que hagan los participantes? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Four" aria-labelledby="headingThirty-Four" data-parent="#accordion">
                            <div class="card-body">Las podrá consultar en:<br><a href="https://www.pasalaganando.com/">https://www.pasalaganando.com/</a>, ingresando a “REDENCIÓN Y ACUMULACIÓN”. Allí aparecerán los bonos digitales, y los cupones acumulados. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Five" data-toggle="collapse" data-target="#collapseThirty-Five" aria-expanded="false" aria-controls="collapseThirty-Five">
                            <p class="m-0">¿Si el participante por cualquier motivo (pérdida, robo, bloqueo, etc.), cambia alguna de sus Tarjetas Débito y/o Crédito Maestro o Mastercard o actualiza sus datos en el sistema, a partir de qué momento se ven reflejadas sus compras en la página? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Five" aria-labelledby="headingThirty-Five" data-parent="#accordion">
                            <div class="card-body">Si la persona al iniciar la campaña tenía una Tarjeta Maestro o Mastercard Bancolombia sea débito o crédito y solicitó un cambio de tarjeta o su tarjeta expiró, sus transacciones se contabilizarán para su meta personal de facturación y podrá ingresar al sistema con el número de la antigua tarjeta. Para ingresar con su nueva tarjeta el sistema podrá tardarse hasta quince (15) días posteriores a su activación. Si pasados los quince (15) días tiene problemas para ingresar, debe comunicarse con la línea de servicio nacional de Bancolombia 01800 0912345. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Six" data-toggle="collapse" data-target="#collapseThirty-Six" aria-expanded="false" aria-controls="collapseThirty-Six">
                            <p class="m-0">El cliente participó anteriormente, pero al querer participar en esta versión de Pásala Ganando el sistema no le permite el ingreso, ¿por qué sucede esto? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Six" aria-labelledby="headingThirty-Six" data-parent="#accordion">
                            <div class="card-body">La campaña se desarrolla varias veces en el año, y la idea es tomar diferentes grupos de clientes en cada una de ellas de acuerdo con ciertas características. Por lo tanto, si en esta ocasión el cliente no puede participar, la invitación es a conocer y disfrutar los demás beneficios que tiene usando sus Tarjetas Débito Maestro o Débito y/o Crédito Mastercard Bancolombia, en <a href="#">www.grupobancolombia.com </a>o en <a href="#">www.mastercard.com.co </a></div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Seven" data-toggle="collapse" data-target="#collapseThirty-Seven" aria-expanded="false" aria-controls="collapseThirty-Seven">
                            <p class="m-0">Al cliente le hablaron de Pásala Ganando y quiere participar, pero el sistema no le permite el ingreso ¿cómo puede participar? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Seven" aria-labelledby="headingThirty-Seven" data-parent="#accordion">
                            <div class="card-body">Para poder participar el cliente debe recibir un mensaje de texto o un email, donde se le invita a ser parte de la campaña. Esta comunicación es personal e intransferible. La campaña se desarrolla varias veces en el año, y la idea es tomar diferentes grupos de clientes en cada una de ellas de acuerdo con ciertas características. Por lo tanto, si en esta ocasión el cliente no puede participar, la invitación es a conocer y disfrutar los demás beneficios que tienen usando sus tarjetas débito o crédito,  Maestro o Mastercard Bancolombia, en <a href="#">www.grupobancolombia.com </a>o en <a href="#">www.mastercard.com.co </a></div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Eight" data-toggle="collapse" data-target="#collapseThirty-Eight" aria-expanded="false" aria-controls="collapseThirty-Eight">
                            <p class="m-0">¿Dónde pueden comprar los participantes para sumar a los grupos de comercios? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Eight" aria-labelledby="headingThirty-Eight" data-parent="#accordion">
                            <div class="card-body">Puede comprar en cualquier establecimiento de comercio que encaje en los grupos de comercio determinados por Bancolombia, de manera presencial y no presencial, con sus medios de pago Débito Maestro o Débito y/o Crédito Mastercard Bancolombia. <br>No participan compras realizadas a través de PSE ni Facturanet. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingThirty-Nine" data-toggle="collapse" data-target="#collapseThirty-Nine" aria-expanded="false" aria-controls="collapseThirty-Nine">
                            <p class="m-0">¿Qué hacer cuando el cliente ingresa su número de cédula, pero el sistema no le permite continuar y recibió la comunicación invitándolo a participar? </p>
                        </div>
                        <div class="collapse" id="collapseThirty-Nine" aria-labelledby="headingThirty-Nine" data-parent="#accordion">
                            <div class="card-body">Si el cliente aun teniendo una Tarjeta Maestro o Mastercard Bancolombia, sea débito o crédito, activa y sin mora, no puede ingresar, debe verificar que está ingresando correctamente los números de su cédula y sí aún así no es posible su ingreso, debe comunicarse con la línea de servicio al cliente <strong>Medellín: </strong>510 90 00, <strong>Bogotá: </strong>343 00 00, <strong>Barranquilla: </strong>361 88 88, <strong>Cali: </strong>554 05 05, <strong>Bucaramanga: </strong>697 25 25, <strong>Cartagena: </strong>693 44 00, <strong>resto del país: </strong>01800 09 12345, para validar sus datos en el sistema y habilitar el ingreso en un plazo de hasta siete (7) días hábiles.   </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingForty" data-toggle="collapse" data-target="#collapseForty" aria-expanded="false" aria-controls="collapseForty">
                            <p class="m-0">¿Qué hacer cuando el cliente ingresa los últimos cuatro (4) dígitos de la tarjeta, pero no puede entrar? </p>
                        </div>
                        <div class="collapse" id="collapseForty" aria-labelledby="headingForty" data-parent="#accordion">
                            <div class="card-body acumula">
                                El cliente debe validar lo siguiente:
                                <ul>
                                    <li>Que sean los últimos cuatro (4) dígitos del número que aparece en la parte frontal de la tarjeta.</li>
                                    <li>Que sea una tarjeta personal Débito Maestro y/o Débito y/o Crédito Mastercard Bancolombia activa y sin mora.</li>
                                    <li>Que sea una tarjeta expedida hace más de tres (3) meses.</li>
                                    <li>Si tiene más de una tarjeta Maestro o Mastercard, debe intentar ingresando los dígitos de otra tarjeta.</li>
                                </ul>Si aún después de validar esto, el problema persiste, el cliente debe comunicarse con la línea de servicio al cliente <strong>Medellín: </strong>510 90 00, <strong>Bogotá: </strong>343 00 00, <strong>Barranquilla:</strong>361 88 88, <strong>Cali: </strong>554 05 05, <strong>Bucaramanga: </strong>697 25 25, <strong>Cartagena:  </strong>693 44 00, <strong>resto del país: </strong>01800 09 12345.
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingForty-One" data-toggle="collapse" data-target="#collapseForty-One" aria-expanded="false" aria-controls="collapseForty-One">
                            <p class="m-0">Si el ganador presenta algún problema con un bono digital de QUANTUM, ¿qué debe hacer? </p>
                        </div>
                        <div class="collapse" id="collapseForty-One" aria-labelledby="headingForty-One" data-parent="#accordion">
                            <div class="card-body quantum">
                                Si el ganador presenta algún problema como:
                                <ul>
                                    <li>Código inactivo.</li>
                                    <li>En el comercio no le recibieron el código. </li>
                                    <li>Bono vencido.  </li>
                                    <li>Desconoce proceso de redención.</li>
                                    <li>Forma de consumo.</li>
                                    <li>Bono redimido.</li>
                                </ul>O cualquier otro problema que tenga que ver directamente con su bono digital, y mientras que su premio esté vigente, deberá notificarlo dentro de los treinta (30) días calendario siguientes a la fecha de entrega del premio de lo contrario Bancolombia y el aliado entenderán que el premio se recibió a satisfacción. <br><br><strong>Para reportar el problema podrá comunicarse a:</strong><br><strong>soporte@quantumrewards.co o a la línea nacional gratuita 018000113104, WhatsApp 322 782 85 32.   </strong>
                            </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingForty-Two" data-toggle="collapse" data-target="#collapseForty-Two" aria-expanded="false" aria-controls="collapseForty-Two">
                            <p class="m-0">Si el participante tiene alguna duda con la acumulación de transacciones o no le aparecen reflejadas las compras en los grupos de comercios ¿qué puede hacer? </p>
                        </div>
                        <div class="collapse" id="collapseForty-Two" aria-labelledby="headingForty-Two" data-parent="#accordion">
                            <div class="card-body">Las transacciones realizadas por los participantes se verán reflejadas hasta quince (15) días hábiles después de la compra.<br>Si tiene alguna inquietud adicional debe comunicarse a la línea de servicio al cliente y reportar la novedad: <strong>Medellín: </strong>510 90 00, <strong>Bogotá: </strong>343 00 00, <strong>Barranquilla: </strong>361 88 88, <strong>Cali: </strong>554 05 05, <strong>Bucaramanga: </strong>697 25 25, <strong>Cartagena: </strong>693 44 00, <strong>resto del país: </strong>01800 09 12345. </div>
                        </div>
                        <div class="headerAcordion collapsed" id="headingForty-Three" data-toggle="collapse" data-target="#collapseForty-Three" aria-expanded="false" aria-controls="collapseForty-Three">
                            <p class="m-0">Si el participante quiere redimir un bono digital e hizo las compras necesarias para alcanzar su meta, pero la información de estas aún no aparece registrada en la plataforma y cuando actualizan la información el bono ya está agotado, ¿el cliente tiene derecho al premio? </p>
                        </div>
                        <div class="collapse" id="collapseForty-Three" aria-labelledby="headingForty-Three" data-parent="#accordion">
                            <div class="card-body">Los bonos digitales están sujetos a disponibilidad de inventario. En caso de que un premio se agote y el cliente no haya podido redimir porque la información no estaba actualizada en la plataforma, pasados quince (15) días hábiles posteriores a la transacción, este tendrá derecho a un bono de la misma denominación, aun cuando no necesariamente será el mismo que había visualizado en la plataforma. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
