<appSettings>
	<!--Variable de entorno-->
	<add key="ENVIRONMENT" value="Testing" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="FileVersion" value="?v=1.1" />

	<add key="Program" value="" />


	<!-- reCAPTCHA V3 [Claves de acceso en Azure Devops]-->
	<add key="reCAPTCHA.ApiBase" value="https://www.google.com/recaptcha/api/siteverify" />
	<add key="reCAPTCHA.Key.Public" value="6Le0Q-YZAAAAAE2925sQIVBLdiq4TEyrYyDtlCnZ" />
	<add key="reCAPTCHA.Key.Secret" value="6Le0Q-YZAAAAAFVWc2_0sZPa7aVNqEuCPq_3_lbu" />

	<add key="ProgramName" value="Itau " />
	
	<!--<add key="MarketPlace.Proxy.Address" value="https://localhost:9001" />-->
	<add key="MarketPlace.Proxy.Address" value="https://test.multistrategy.co/Mastercard/API_MarketplaceBenefits" />
	<!--For LogIn-->
	<add key="MarketPlace.Authentication.Email" value="basic@gmail.com" />
	<add key="MarketPlace.Authentication.Password" value="123Pa$$word!" />
	<add key="MarketPlace.Authentication.Proxy.Base" value="api/Account" />
	<add key="MarketPlace.Authentication.Proxy.Action" value="authenticate" />

	<!--Mensajes de la aplicación-->
	<add key="Itau.Messages.IdentificationRequired" value="Tu identificación es requerida" />
	<add key="Itau.Messages.TermsRequired" value="Debes aceptar los términos y condiciones" />
	<add key="Itau.Messages.ClientNotExist" value="Si tienes inconvenientes con el ingreso, comunícate con la línea de atención 01-800-0912345, o consulta en &#34;Preguntas frecuentes&#34; para conocer si eres un participante." />
	<add key="Itau.Messages.SecondLoginFailed" value="Si tienes inconvenientes con el ingreso, comunícate con la línea de atención 01-800-0912345, o consulta en “Preguntas frecuentes” para conocer si eres un participante." />
	<!--Mensajes de la aplicación-->


	<!--Marketplace-->
	<add key="Marketplace.ProgramId" value="4" />
	<!--Product Obtener Productos-->
	<add key="Marketplace.Product.Proxy.Base" value="api/v1/Product" />
	<add key="Marketplace.Product.Proxy.GetByFilters" value="GetByFilters" />
	<!--Product-->

	<!--Account Loguea en el Servicio-->
	<add key="Marketplace.Account.Proxy.Base" value="api/Account" />
	<add key="Marketplace.Account.Proxy.Authenticate" value="authenticate" />
	<!--Account-->

	<!--Order Redimir un producto-->
	<add key="Marketplace.Order.Proxy.Base" value="api/v1/Order" />
	<add key="Marketplace.Order.Proxy.Create" value="Create" />
	<add key="Marketplace.Order.Proxy.MyRedemptions" value="MyRedemptions" />
	<!--Order-->
	<add key="Marketplace.Configuration.PageNumber" value="1" />
	<add key="Marketplace.Configuration.PageSize" value="20" />
	<add key="Marketplace.Authentication.Email" value="basic@gmail.com" />
	<add key="Marketplace.Authentication.Password" value="123Pa$$word!" />
	<add key="Marketplace" value="" />
	<!--Marketplace-->

	<!--Quantum-->
	<add key="Quantum.Proxy.Address" value="http://wsrest.activarpromo.com" />
	<add key="Quantum.Configuration.UserName" value="bigtest" />
	<add key="Quantum.Configuration.Password" value="PRQ0eRTR3Ct_65*~" />
	<add key="Quantum.Department.Proxy.Action" value="api/getdeps.json" />
	<add key="Quantum.City.Proxy.Action" value="api/getcities.json" />
	<add key="Quantum.Site.Proxy.Action" value="api/getsites.json" />
</appSettings>