<connectionStrings>
  <add name="dbBigPasalaGanando" connectionString="Data Source=10.180.25.6\SQL2016; Database=dbBigPasalaGanando; user id =usrArquitecto; password=usrArquitecto;" />
  <add name="BigPasalaGanandoNetCommerce" connectionString="Persist Security Info=True;User ID=usrArquitecto;Password=usrArquitecto;Initial Catalog=dbBigPasalaGanandoNetCommerce;Data Source=10.180.25.6\SQL2016" providerName="System.Data.SqlClient" />
</connectionStrings>