<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add 
		name="dbBigPasalaGanando" 
		connectionString="Persist Security Info=True;User ID=usrBigPasalaGanando;Password=02EZJRfIAVaD;Initial Catalog=dbBigPasalaGanando;Data Source=10.180.25.14" 
		xdt:Transform="SetAttributes"
		xdt:Locator="Match(name)"
		/>
	<add name="BigPasalaGanandoNetCommerce" 
	     connectionString="Persist Security Info=True;User ID=usrBigPasalaGanando;Password=02EZJRfIAVaD;Initial Catalog=dbBigPasalaGanandoNetCommerce;Data Source=10.180.25.14" providerName="System.Data.SqlClient" 
	     xdt:Transform="SetAttributes"
	     xdt:Locator="Match(name)"
	     />
</connectionStrings>